.fade-in {
  display: block;
  animation: fade-in 900ms;
}
@keyframes fade-in {
  0% {
    margin-top: 100px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.fade-out {
  animation: fade-out 1000ms;
  display: none;
}

@keyframes fade-out {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
